for loop

In [ ]:
a=(1,2,3,4,5,6,7,8,9)
for i in a:
    if i % 2==0:
        print(i)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(0,20,2):
    
    
    print(i)

In [ ]:
for i in range(0,30):
    print(i)

while loop
while conditon code

In [ ]:
i= 1 #initilize
    while i < 10:
    print(i)
    i += 2
        
    
    #increment

In [ ]:
i = 2
while i < 20:
    print(i)
    i += 1

In [1]:
i = 2
while i < 20:
    print(i)
    i += 1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

nested loops(loops use inside the loops

In [6]:
a=int(input("pls enter your no"))
print(a)

pls enter your no 6

6

In [34]:
for i in range(2,5):
    for j in range(10,1,-1):
        
        print(i,j)

2 10
2 9
2 8
2 7
2 6
2 5
2 4
2 3
2 2
3 10
3 9
3 8
3 7
3 6
3 5
3 4
3 3
3 2
4 10
4 9
4 8
4 7
4 6
4 5
4 4
4 3
4 2